/* Base Application Styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #222;
}

.index {
  height: 100vh;
  width: 100%;
  padding: 40px;
}

.index img {
  border-radius: 4px;
  background: #fff;
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.alice-uploads-enter {
    opacity: 0.01;
}

.alice-uploads-enter.alice-uploads-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.alice-uploads-leave {
    opacity: 1;
}

.alice-uploads-leave.alice-uploads-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.alice-uploads-appear {
    opacity: 0.01;
}

.alice-uploads-appear.alice-uploads-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}